@model Category

@{
    ViewData["Title"] = "Sil";
}

<h1>Sil</h1>

<h3>Kayıt silinsin mi?</h3>

<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="/Images/@Url.Content(Model.Image)" alt="Slider Image" style="max-width:200px; display:block; margin-bottom:10px;" />
            }
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>

<form asp-area="Admin" asp-controller="Categories" asp-action="Delete" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </div>
</form>