@model Slider

@{
    ViewData["Title"] = "Sil";
}

<h1>Sil</h1>

<h3>Kayıt silinsin mi?</h3>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>

<form asp-area="Admin" asp-controller="Sliders" asp-action="Delete" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-area="Admin" asp-controller="Sliders" asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </div>
</form>
